* text=auto

*.java text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
PKGBUILD text eol=lf
lib/universalJavaApplicationStub text eol=lf
packaging/ubuntu/FlightPlot/DEBIAN/control text eol=lf
*.desktop text eol=lf

*.png binary
*.icns binary
*.jar binary
